*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/.idea/libraries/Gradle__com_squareup_moshi_moshi_adapters_1_7_0_jar.xml
app/.idea/libraries/Gradle__com_squareup_moshi_moshi_kotlin_1_7_0_jar.xml
app/gradlew
app/gradlew.bat
app/local.properties
app/.idea/gradle.xml
app/.idea/misc.xml
app/.idea/modules.xml
app/.idea/runConfigurations.xml
app/.idea/vcs.xml
app/.idea/workspace.xml
app/.idea/caches/build_file_checksums.ser
app/.idea/codeStyles/Project.xml
app/.idea/libraries/Gradle__androidx_activity_activity_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_annotation_annotation_1_1_0_jar.xml
app/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_1_0_aar.xml
app/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_1_0_aar.xml
app/.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0_jar.xml
app/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
app/.idea/libraries/Gradle__androidx_arch_core_core_testing_2_1_0_aar.xml
app/.idea/libraries/Gradle__androidx_asynclayoutinflater_asynclayoutinflater_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_collection_collection_1_1_0_jar.xml
app/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_1_1_3_aar.xml
app/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_1_1_3_jar.xml
app/.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_beta01_aar.xml
app/.idea/libraries/Gradle__androidx_core_core_1_1_0_aar.xml
app/.idea/libraries/Gradle__androidx_core_core_ktx_1_1_0_aar.xml
app/.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_databinding_databinding_adapters_3_5_1_aar.xml
app/.idea/libraries/Gradle__androidx_databinding_databinding_common_3_5_1_jar.xml
app/.idea/libraries/Gradle__androidx_databinding_databinding_runtime_3_5_1_aar.xml
app/.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_fragment_fragment_1_1_0_aar.xml
app/.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_ui_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_legacy_legacy_support_v4_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_1_0_jar.xml
app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_java8_2_1_0_jar.xml
app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_extensions_2_1_0_aar.xml
app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_1_0_aar.xml
app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_1_0_aar.xml
app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_process_2_1_0_aar.xml
app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_reactivestreams_2_1_0_aar.xml
app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_1_0_aar.xml
app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_service_2_1_0_aar.xml
app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_1_0_aar.xml
app/.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_media_media_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_beta04_aar.xml
app/.idea/libraries/Gradle__androidx_recyclerview_recyclerview_selection_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_savedstate_savedstate_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_slidingpanelayout_slidingpanelayout_1_0_0_aar.xml
app/.idea/libraries/Gradle__com_squareup_okio_okio_2_2_2_jar.xml
app/.idea/libraries/Gradle__com_squareup_retrofit2_adapter_rxjava2_2_3_0_jar.xml
app/.idea/libraries/Gradle__com_squareup_retrofit2_converter_gson_2_3_0_jar.xml
app/.idea/libraries/Gradle__com_squareup_retrofit2_converter_moshi_2_3_0_jar.xml
